@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*========================
  config
========================*/
/*
  mixin Library
*/
*:not(input) {
  -webkit-touch-callout: none;
}

input[type=text] {
  -webkit-user-select: auto;
}

html, body {
  width: 100%;
}

body {
  background-color: black;
  word-break: break-all;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif";
  color: #333333;
  line-height: 1.6;
  font-weight: bold;
  font-size: 13px;
}

p {
  line-height: 1.5;
}

a {
  color: #1155cc;
}

input[type="submit"], a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 0;
  background-color: #aaa;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.m0 {
  margin: 0;
}

.m3 {
  margin: 3px;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mh5 {
  margin: 0 5px;
}

.mh10 {
  margin: 0 10px;
}

.mv5 {
  margin: 5px 0;
}

.mv10 {
  margin: 10px 0;
}

.p0 {
  padding: 0;
}

.p3 {
  padding: 3px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.ph5 {
  padding: 0 5px;
}

.ph10 {
  padding: 0 10px;
}

.pv5 {
  padding: 5px 0;
}

.pv10 {
  padding: 10px 0;
}

.pv20 {
  padding: 20px 0;
}

.lh2 {
  line-height: 2;
}

.lh25 {
  line-height: 2.5;
}

.lh3 {
  line-height: 3;
}

.white {
  color: #fff;
}

.gray {
  color: black;
}

.red {
  color: red;
}

.yellow {
  color: #FFFF00;
}

.orange {
  color: #ffaa00;
}

.uline {
  text-decoration: underline;
}

.bg2 {
  background-color: #eeeeee;
}

.bg3 {
  background-color: white;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.rem1 {
  font-size: 1rem;
}

.box {
  display: -webkit-box;
  display: box;
}

.boxStart {
  -webkit-box-pack: start;
  box-pack: start;
}

.boxCenter {
  -webkit-box-pack: center;
  box-pack: center;
}

.boxEnd {
  -webkit-box-pack: end;
  box-pack: end;
}

.justify {
  -webkit-box-pack: justify;
  box-pack: justify;
}

.boxFlex1 {
  -webkit-box-flex: 1;
  box-flex: 1;
}

.boxAlignCenter {
  -webkit-box-align: center;
  box-align: center;
}

.boxAllCenter {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.posR {
  position: relative;
}

.posA {
  position: absolute;
}

.spWidth20 {
  width: 20px;
}

.spWidth60 {
  width: 60px;
}

.spHeight10 {
  height: 10px;
}

.spHeight20 {
  height: 20px;
}

.error {
  padding: 5px;
  color: #FD0003;
  background-color: #FEC7DE;
  text-align: center;
}

.blink {
  animation: 1s animate-blink infinite linear;
  -webkit-animation: 1s animate-blink infinite linear;
}

@keyframes 'animate-blink' {
  0%, 89.9% {
    opacity: 1;
  }

  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes 'animate-blink' {
  0%, 89.9% {
    opacity: 1;
  }

  90%, 100% {
    opacity: 0;
  }
}

.aboutLink,
.nextLink, .backLink {
  display: block;
  font-size: 0.9rem;
  color: #eee;
  text-decoration: none;
  position: relative;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #499bea), color-stop(3%, #499bea), color-stop(3%, #207ce5), color-stop(97%, #499bea), color-stop(100%, #499bea));
  background-image: -webkit-linear-gradient(top, #499bea 0%, #499bea 3%, #207ce5 3%, #499bea 97%, #499bea 100%);
  background-image: linear-gradient(top, #499bea 0%, #499bea 3%, #207ce5 3%, #499bea 97%, #499bea 100%);
}
.touchstart.aboutLink,
.touchstart.nextLink, .touchstart.backLink, .aboutLink:hover,
.nextLink:hover, .backLink:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b4ef), color-stop(3%, #77b4ef), color-stop(3%, #4e97ea), color-stop(97%, #77b4ef), color-stop(100%, #77b4ef));
  background-image: -webkit-linear-gradient(top, #77b4ef 0%, #77b4ef 3%, #4e97ea 3%, #77b4ef 97%, #77b4ef 100%);
  background-image: linear-gradient(top, #77b4ef 0%, #77b4ef 3%, #4e97ea 3%, #77b4ef 97%, #77b4ef 100%);
}
.aboutLink:after,
.nextLink:after, .backLink:after {
  display: block;
  position: absolute;
  top: 50%;
  height: 5px;
  width: 5px;
  margin-top: -3px;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.aboutLink,
.nextLink {
  text-align: right;
  padding: 10px 30px 10px 5px;
}
.aboutLink:after,
.nextLink:after {
  right: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.backLink {
  text-align: left;
  padding: 10px 5px 10px 30px;
}
.backLink:after {
  left: 10px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

label {
  font-size: 0.9rem;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-transform: scale(1.8, 1.8);
  transform: scale(1.8, 1.8);
  vertical-align: text-bottom;
}

input[type="text"] {
  height: 1.8rem;
}

input[type="text"].textLine {
  width: 280px;
}

input[type="submit"] {
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.blinkBtn {
  width: 150px !important;
  font-weight: bold;
}

.tab {
  display: -webkit-box;
  display: box;
  font-weight: bold;
  margin: 5px;
}
.tab li {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 100%;
  border: 1px solid white;
  position: relative;
  line-height: 40px;
  text-align: center;
  color: #111;
  font-weight: normal;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #499bea), color-stop(3%, #499bea), color-stop(3%, #207ce5), color-stop(100%, #499bea));
  background-image: -webkit-linear-gradient(top, #499bea 0%, #499bea 3%, #207ce5 3%, #499bea 100%);
  background-image: linear-gradient(top, #499bea 0%, #499bea 3%, #207ce5 3%, #499bea 100%);
}
.tab li.selected {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(3%, #ffffff), color-stop(3%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 3%, #eeeeee 3%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 3%, #eeeeee 3%, #ffffff 100%);
}
.tab li a {
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
}
.tab li a:hover, .tab li a.touchstart {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b4ef), color-stop(3%, #77b4ef), color-stop(3%, #4e97ea), color-stop(100%, #77b4ef));
  background-image: -webkit-linear-gradient(top, #77b4ef 0%, #77b4ef 3%, #4e97ea 3%, #77b4ef 100%);
  background-image: linear-gradient(top, #77b4ef 0%, #77b4ef 3%, #4e97ea 3%, #77b4ef 100%);
}
.tab li:first-child {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #5794a1;
}
.tab li:first-child a {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tab li:last-child {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #5794a1;
}
.tab li:last-child a {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paging {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.paging ul {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: justify;
  box-pack: justify;
}
.paging li a {
  text-decoration: underline;
}

#topContainer {
  width: 320px;
  margin: auto;
  color: #333333;
  background-color: #cccccc;
  position: relative;
}

.boxLink {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  font-size: 0.9rem;
  border: 1px solid #cccccc;
}

.baseBtn, .blinkBtn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #499bea), color-stop(50%, #207ce5), color-stop(100%, #499bea));
  background-image: -webkit-linear-gradient(top, #499bea 0%, #207ce5 50%, #499bea 100%);
  background-image: linear-gradient(top, #499bea 0%, #207ce5 50%, #499bea 100%);
  display: block;
  margin: 5px auto;
  padding: 8px 10px;
  border: 1px solid white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
  width: 150px;
  cursor: pointer;
}
.baseBtn.w100, .w100.blinkBtn {
  width: 100px;
}
.baseBtn.w120, .w120.blinkBtn {
  width: 120px;
}
.baseBtn:hover, .blinkBtn:hover, .baseBtn.touchstart, .touchstart.blinkBtn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b4ef), color-stop(50%, #4e97ea), color-stop(100%, #77b4ef));
  background-image: -webkit-linear-gradient(top, #77b4ef 0%, #4e97ea 50%, #77b4ef 100%);
  background-image: linear-gradient(top, #77b4ef 0%, #4e97ea 50%, #77b4ef 100%);
  display: block;
}
.baseBtn.long, .long.blinkBtn {
  width: 80%;
}
.baseBtn.left, .left.blinkBtn {
  float: left;
  margin: 5px 5px 5px 0;
}
.baseBtn.right, .right.blinkBtn {
  float: right;
  margin: 0 5px 5px 5px;
}

.primary, .blinkBtn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa84c), color-stop(50%, #ff7b0d), color-stop(100%, #ffa84c));
  background-image: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 50%, #ffa84c 100%);
  background-image: linear-gradient(top, #ffa84c 0%, #ff7b0d 50%, #ffa84c 100%);
  padding: 8px 10px;
}
.primary div, .blinkBtn div {
  background: #fff;
  -webkit-box-shadow: 0 0 6px 6px white;
  opacity: 0.5;
  -webkit-animation: "efct-pnl" 1s linear;
  -webkit-animation-iteration-count: infinite;
}
.primary:hover, .blinkBtn:hover, .primary.touchstart, .touchstart.blinkBtn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff2e5), color-stop(50%, #ff9740), color-stop(100%, #fff2e5));
  background-image: -webkit-linear-gradient(top, #fff2e5 0%, #ff9740 50%, #fff2e5 100%);
  background-image: linear-gradient(top, #fff2e5 0%, #ff9740 50%, #fff2e5 100%);
  display: block;
}

.efctBtn {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  margin: 6px 0;
  width: 120px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px white;
  opacity: 0.6;
  -webkit-animation-name: efctBlur1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
}
.efctBtn.w150 {
  width: 150px;
}

@-webkit-keyframes efctBlur1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
  }
}

.selectBox {
  position: relative;
  display: inline-block;
}
.selectBox select {
  min-width: 55px;
}
.selectBox:after {
  position: absolute;
  right: 15px;
  top: 40%;
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  border: 7px solid transparent;
  border-top-color: #000;
  border-bottom-color: transparent;
}

@-webkit-keyframes whiteFade {
  0% {
    opacity: 0.0;
    -webkit-transform: scale(1, 1);
    background: #fff;
  }

  50% {
    opacity: 0.4;
    background: #fff;
  }

  100% {
    opacity: 0.0;
    -webkit-transform: scale(1.1, 1.2);
    background: #fff;
  }
}

select {
  vertical-align: middle;
  margin: 5px auto;
  font-size: 0.9rem;
  display: inline-block;
  border: 0px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  padding: 0px 30px 0 10px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.selectSubmit {
  vertical-align: middle;
  text-align: center;
  margin: 5px auto;
  font-size: 0.9rem;
  border: 0px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #499bea), color-stop(50%, #207ce5), color-stop(100%, #499bea));
  background-image: -webkit-linear-gradient(top, #499bea 0%, #207ce5 50%, #499bea 100%);
  background-image: linear-gradient(top, #499bea 0%, #207ce5 50%, #499bea 100%);
  border: 1px solid white;
  -webkit-appearance: none;
  appearance: none;
  padding: 0px 20px 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.selectSubmit:hover, .selectSubmit.touchstart {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b4ef), color-stop(50%, #4e97ea), color-stop(100%, #77b4ef));
  background-image: -webkit-linear-gradient(top, #77b4ef 0%, #4e97ea 50%, #77b4ef 100%);
  background-image: linear-gradient(top, #77b4ef 0%, #4e97ea 50%, #77b4ef 100%);
}

.listBox {
  background-color: white;
  text-align: center;
}
.listBox li {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #499bea), color-stop(90%, #207ce5), color-stop(100%, #207ce5));
  background-image: -webkit-linear-gradient(top, #499bea 0%, #207ce5 90%, #207ce5 100%);
  background-image: linear-gradient(top, #499bea 0%, #207ce5 90%, #207ce5 100%);
  border-bottom: 1px solid white;
  overflow: hidden;
  *zoom: 1;
  padding: 5px;
  font-size: 0.8rem;
}
.listBox li:hover, .listBox li.touchstart {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b4ef), color-stop(90%, #4e97ea), color-stop(100%, #4e97ea));
  background-image: -webkit-linear-gradient(top, #77b4ef 0%, #4e97ea 90%, #4e97ea 100%);
  background-image: linear-gradient(top, #77b4ef 0%, #4e97ea 90%, #4e97ea 100%);
}
.listBox li .date {
  float: left;
  padding: 8px 5px;
}
.listBox li a {
  color: #1155cc;
  display: block;
  padding: 8px 5px;
  text-decoration: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  Global Menu
*/
.globalNav {
  background-color: #79440e;
}
.globalNav ul {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: justify;
  box-pack: justify;
}
.globalNav ul li {
  text-indent: -9999px;
}

#globalHeader ul li:nth-child(5) {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: end;
  box-pack: end;
}
